#map{
	width:100%;
	height:86vh;
}

#encuentrame, #trazar-ruta {
	background-color: white;
	color: black;
	font-weight: bolder;
	font-size: 10pt;
}

input {
	background-color: transparent !important; 
	border-color: white !important;
	border-radius: 5px;
}

.this-yellow {
	background-color: #f7b617;
	color: white;
	padding: 0.5em;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }